{% extends 'base.html.twig' %}

{% block title %}
    Une page
{% endblock %}

{% block body2 %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aliquam amet asperiores commodi, deleniti dolor dolores esse et eum exercitationem facere itaque iure libero nulla quis repudiandae totam velit!</p>
{% endblock %}