@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

* {
    background-color: antiquewhite;
}

header {
    background-color: indianred;
    width: 100%;
    position: absolute;
    top: 0px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

header h1 {
    background-color: indianred;
}

header img {
    background-color: indianred;
    margin-left: 20px;
    height: 100%;
    margin-top: 10px;
}

header nav, ul, li {
    background-color: indianred;
    list-style-type: none;
    font-family: Candara;
    color: black;
}

.entete {
    background-color: indianred;
    list-style-type: none;
    font-family: Candara;
    color: black;
}


.test {
    margin-top: 130px;
    margin-left: 100px;
    font-family: "Kristen ITC";
    font-size: 24px;
}


footer {
    width: 100%;
    background: #B0413E;
    position: absolute;
    bottom: 0;
    height: 20px;
    text-align: center;
}

a {
    text-decoration-line: none;
}





