{% extends 'base.html.twig' %}

{% block title %}Hello PokemonController!{% endblock %}

{% block body %}
    <div>
        <ul>
            {% for pokemon in pokemons %}
                <li>{{ pokemon.nom }}</li>
                <li>{{ pokemon.dresseur.prenom }}  {{ pokemon.dresseur.nom }}</li>
                {% for type in pokemon.type %}
                    <p>{{ type.nom }}</p>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}
